{% extends 'staff_home.html' %}
{% load static %}
{% block content %}

<html>
    <head>
        <style>
            table, tr, th, td{
                margin: 1%;
                background-color: pink;
                border: 1px solid black;
                border-collapse: collapse;
            }
            body{
                background-color: yellow;
            }
        </style>
    </head>

    <body>
      <h3 style="float:left; margin:1%;"> Current pending items summary:</h3>
      <br>
       
        <table class="table table-striped" style="width:device-size; float:left;margin:1%;">
            
            <thead>
                <tr>
                   
                    <th scope="col">Product id</th>
                    <th scope="col">Product name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">pending order date</th>
                    

                </tr>
            </thead>

            <tbody>
            
            
               {% for item in item_detail %}
                    {% if item.quantity >= 1 %}
                        <tr>
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.date}}</td>
                            
                        </tr>
                   
                    {% endif %}
                              
               {% endfor %}
                
        
            </tbody>
        </table>
       
     <h3 style="float:left; margin:1%;"> More details about order items: </h3> 
        <table class="table table-striped" style="width:device-size; float:left;margin:1%;">
            
            <thead>
                <tr>
                <th scope="col">OrderItem_id</th>
                <th scope="col">Product</th>
                <th scope="col">Order</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date added</th>
                <th scope="col">Prepare Status</th>
                </tr>
            </thead>
            <tbody>
            
                {% for item in orderitem %}
                
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.product_id}}</td>
                        <td>{{item.order_id}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.date_added|date:"DATETIME_FORMAT"}}</td>
                        <td>
                            <button class="item-prepare" data-id="{{item.id}}" data-action="prepare" >Mark prepared</button>
                        </td>
                    </tr>
                {% endfor %}
            
            
            </tbody>
        </table>
    </body>

{% endblock content %}
</html>
