  {% extends 'staff_home.html' %}
{% load static %}
{% block content %}

<html>
    <head>
        <style>
            table, tr, th, td{
                margin: 1%;
                background-color: pink;
                border: 1px solid black;
                border-collapse: collapse;
            }
            body{
                background-color: yellow;
            }
        </style>
    </head>

    <body>  
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">OrderItem ID</th>
                <th scope="col">Product</th>
                <th scope="col">Order</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date Added</th>
                <th scope="col">Transaction ID</th>
                <th scope="col">Verification Code</th>
                <th scope="col">Check</th>
                </tr>
            </thead>
            <tbody>
            
                {% for item in orderitem %}
                
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.product_id}}</td>
                        <td>{{item.order_id}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.date_added|date:"DATETIME_FORMAT"}}</td>
                        <td>***</td>
                        <td>***</td>
                        <td>
                            <button class="item-deliver" data-id="{{item.id}}" data-action="deliver" >check transaction</button>
                        </td>
                    </tr>
                {% endfor %}
            
            
            </tbody>
        </table>
    </body>

{% endblock content %}
</html>
