 {% extends 'staff_home.html' %}
{% load static %}
{% block content %}

<html>
    <head>
        <style>
            table, tr, th, td{
                margin: 1%;
                background-color: pink;
                border: 1px solid black;
                border-collapse: collapse;
            }
            body{
                background-color: yellow;
            }
        </style>
    </head>

    <body>  
     
        <table class="table table-striped">
         
            <thead>
                <tr>
                <th scope="col">OrderItem.id</th>
                <th scope="col">Product</th>
                <th scope="col">Order</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date added</th>
                <th scope="col">Transaction_id</th>
                <th scope="col">Verification_code</th>
                <th scope="col">message</th>
                <th scope="col">Mark deliver</th>
                </tr>
            </thead>
            <tbody>
            
                {% for item in orderitem %}
                
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.product_id}}</td>
                        <td>{{item.order_id}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.date_added|date:"DATETIME_FORMAT"}}</td>
                        {% for transaction in transaction_list %}
                            {% ifequal item.order_id transaction.order_id %}
                                <td>{{transaction.transaction_id}}</td>
                                <td>{{transaction.verification_code}}</td>
                                <td>{{transaction.message}}</td>
                            
                            {% endifequal %}
                            {% comment %} {% ifnotequal item.order_id transaction.order_id %}
                            
                                <td>***</td>
                                <td>***</td>
                                <td>***</td>
                            {% endifnotequal %} {% endcomment %}
                            
                        {% endfor %}
                        
                        <td>
                            <button class="item-deliver" data-id="{{item.id}}" data-action="deliver" >Mark deliver</button>
                        </td>
                    </tr>
                {% endfor %}
            
            
            </tbody>
        </table>
    </body>

{% endblock content %}
</html>
