{% extends 'staff_home.html' %}
{% load static %}
{% block content %}

<html>
    <head>
        <style>
            table, tr, th, td{
                margin: 1%;
                background-color: pink;
                border: 1px solid black;
                border-collapse: collapse;
            }
            body{
                background-color: yellow;
            }
        </style>
    </head>

    <body> 
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Product_id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Availablity</th>
                <th scope="col">Change Status</th>
                
                </tr>
            </thead>
            <tbody>
            
                {% for item in product %}
                
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.available}}</td>
                        <td>
                            <button class="product-available" data-id="{{item.id}}" data-action="{{item.available}}" > change</button>
                        </td>
                        
                    </tr>
                {% endfor %}
            
            
            </tbody>
        </table>

    </body>
    {% endblock content %}
</html>
