{% extends 'index.html' %}
{% load static %}
{% block content %}
   <head>
       <style>
           table, tr,th,td{
               background-color: pink;
               border: 1px solid black;
               border-collapse: collapse;
           }
           body{
               background-color: yellow;
           }
       </style>

     <meta http-equiv="refresh" content="15">  

   </head>


  <body>
  <span style="height:device-size; width:device-size;">
       
        <table class="table table-striped" style="width:device-size; float:left;margin:1%;">
            <thead>
                <tr>
                   
                    <th scope="col">Orderitem ID</th>
                    <th scope="col">Product ID</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Date Added</th>
                    <th scope="col">Prepare </th>
                    <th scope="col">Verification Code</th>
                    <th scope="col">Transaction Id</th>
                   

                </tr>
            </thead>

            <tbody>
            
            
               {% for item in remaining_orderitems %}
                  
                        <tr>
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.product_id}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.date_added}}</td>
                            <td>{{item.prepare}}</td>
                            {% for ord in orders %}
                                {% ifequal item.order_id ord.id %}
                                    <td>{{ord.verification_code}}
                                    <td>{{ord.transaction_id}}
                           
                            {% endifequal %}
                            {%endfor%}
                        </tr>
                   
                  
                              
               {% endfor %}
                
        
            </tbody>
        </table>

        <!-- <h3 style="float:left;"> More details about order items: </h3> -->
        <table class="table table-striped" style="width:device-size; float:left;margin:1%;">
            <thead>
                <tr>
                    <th scope="col">Orderitem ID</th>
                    <th scope="col">Product ID</th>
                    <th scope="col">Quantity</th>
                    <th scope="col"> Date Added</th>
                    <th scope="col"> Deliver </th>
                   
                <tr>
            </thead>
            <tbody>
            
                {% for item in completed_orderitems%}
                
                    <tr>
                        <tr>
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.product_id}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.date_added}}</td>
                            <td>{{item.deliver}}</td>
                           
                        </tr>
                   
                    </tr>
                {% endfor %}
            
            
            </tbody>
        </table>
    </span>
    </body>




{% endblock content %}
