{% extends 'index.html' %}
{% load static %}
{% block content %}

<html>
    <head>
    </head>
    <body>
        <form action="{% url 'register' %}" method = 'POST'>
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="First name"><br>
            <input type="text" name="last_name" placeholder="last name"><br>
            <input type="email" name="email" placeholder="Email"><br>
            <input type="text" name="username" placeholder="USERNAME"><br>
            <input type="password" name="password1" placeholder="Password"><br>
            <input type="password" name="password2" placeholder="Conform Password"><br>
            <input type="submit"><br>     
        </form>       

        <div>
            {% for message in messages %}
                <h3> {{message}}
            {% endfor %}

        </div>
    </body>

{%endblock content%}