{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <script type="text/javascript">
		    
                function getToken(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                 
                }

            var csrftoken = getToken('csrftoken');
        </script>
        <style>
            a:hover{
                background-color: pink;
            }
        </style>

    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'store' %}"><span style="color:black;font-weight:bold">Product Management</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'current_demands' %}"><span style="color:black;font-weight:bold">Current Demands </span><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pending_deliver' %}"><span style="color:black;font-weight:bold">Pending Deliver</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'order_completed' %}"><span style="color:black;font-weight:bold">Orders Completed</span></a>
                </li>
               <li class="nav-item">
                    <a class="nav-link" href="{% url 'predict_orders' %}"><span style="color:black;font-weight:bold">Rough Predicted Future Orders </span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_details' %}"><span style="color:black;font-weight:bold">Product Details </span></a>
                </li>
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    </body>
</html>
